.main_title {
    text-align: center;
}

.name {
    color: white;
    border-bottom: 1px solid black;
    text-align: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1045.664%2c408.924C1065.44%2c409.008%2c1085.188%2c403.308%2c1096.54%2c387.115C1109.842%2c368.14%2c1117.928%2c342.773%2c1105.946%2c322.938C1094.211%2c303.511%2c1068.264%2c300.812%2c1045.664%2c302.895C1026.887%2c304.626%2c1011.664%2c316.339%2c1001.982%2c332.521C991.976%2c349.244%2c985.858%2c369.768%2c995.531%2c386.686C1005.256%2c403.696%2c1026.07%2c408.841%2c1045.664%2c408.924' fill='rgba(255%2c 255%2c 255%2c 0.37)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1458.9068844609733 25.480824081110185L1283.2322363872577-5.668012292424372 1334.0086837180208 141.79749837531165z' fill='rgba(255%2c 255%2c 255%2c 0.37)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1088.45 82.27 a100.25 100.25 0 1 0 200.5 0 a100.25 100.25 0 1 0 -200.5 0z' fill='rgba(255%2c 255%2c 255%2c 0.37)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M560.28 328.63 a164.14 164.14 0 1 0 328.28 0 a164.14 164.14 0 1 0 -328.28 0z' fill='rgba(255%2c 255%2c 255%2c 0.37)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M817.92 199.46 a97.89 97.89 0 1 0 195.78 0 a97.89 97.89 0 1 0 -195.78 0z' fill='rgba(255%2c 255%2c 255%2c 0.37)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-138.22 296.22 a170.37 170.37 0 1 0 340.74 0 a170.37 170.37 0 1 0 -340.74 0z' fill='rgba(255%2c 255%2c 255%2c 0.37)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.name img {
    border-radius: 50%;
    text-align: center;
  }

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

.maincontent {
    text-align: center;
}

.qualification {
    text-align: center;
}

.figma {
    align-content: center;
}

table {
    align-content: center ;
}

img {
    height: 350;
    width: 500;
}

.photos {
    align-content: center;
}

.page-footer {
    color: #273036;
}